@model Boutique.Models.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateLivraison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateLivraison)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommandeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
