@model Boutique.Models.ProductVente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductVente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vente.VenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantiteDesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantiteDesi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductVenteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
